<header class="header">
    <div class="inner header__inner">
        <a class="header__logo" href="#">
            <img src="{{ path }}/img/image.jpg" alt="Default template | Logo" />
        </a>
        <nav class="header__nav js-menu">
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="#formatted">Formatted content</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#slider">Slider</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#gallery">Gallery</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#popup">Popup</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#components">Components</a>
                </li>
            </ul>
        </nav>
        <button class="header__opener hamburger js-menu-opener" type="button"><span></span></button>
    </div>
</header>
