@import '../1.setting/variables';

.swiper {
    position: relative;
}

.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {

}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 31%;
    z-index: 10;
    cursor: pointer;
    transition: opacity .2s;

    svg {
        fill: $grey-alfa;
        width: 20px;
        height: 36px;
    }

    &:hover {
        opacity: .8;
    }
}

.swiper-button-prev {
    left: -50px;
}

.swiper-button-next {
    right: -50px;
    transform: rotate(180deg);
}

.swiper-button-disabled {
    opacity: .2;

    &:hover {
        opacity: .2;
    }
}
