@import '../1.setting/variables';

.menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @include mq(sm) {
        flex-direction: column;
    }
}

.menu__item {

}

.menu__link {
    display: block;
    font-size: 1.3rem;
    padding: 0 18px;
    color: $black-alfa;
    transition: color .2s;

    &.is-active,
    &:hover {
        color: red;
    }
}
