{% extends "./html/layout.twig" %}

{% block page %}
    {% include "./html/components/header.twig"%}
    <p>
        This page is genedrated by Twig.js using the gulp-twig gulp plugin.
    </p>
    <ul>
        {% for value in benefits %}
            <li>{{ value }}</li>
        {% endfor %}
    </ul>
    <img src="./img/image.jpg" alt="" />
    <svg>
        <use xlink:href="./img/icons.svg#ico-01" />
    </svg>
{% endblock %}
